@using CashGrow.Extensions;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <!-- Fonts and icons -->
    <script src="~/Scripts/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['~/Content/fonts.css']
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/atlantis2.css")
    @Styles.Render("~/Content/fonts.min.css")

</head>
<body>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#manualJoin">
        Join A Household
    </button>

    <h1>My HouseholdId is: @User.Identity.GetHouseholdId()</h1>
    <h1>My FullName is: @User.Identity.GetFullName()</h1>
    <h1>My Avatar is: @User.Identity.GetAvatarPath()</h1>

    @RenderBody()
    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.themekita.com">
                            ThemeKita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                &copy; @DateTime.Now.Year - <a href="https://betholmo-portfolio.netlify.app/" target="_blank">Beth Olmo, M.S.</a>
            </div>
        </div>
    </footer>

    <section id="manualJoinModal">
        <div class="modal" id="manualJoin" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("ManualJoin", "Account", FormMethod.Post, null))
                        {
                            <div class="form-group">
                                Invitation Code
                                <div class="col-md-10">
                                    @Html.TextBox("Code", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="Register" />
                                </div>
                            </div>
                        }

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @RenderSection("scripts", required: false)

</body>
</html>
