@model IEnumerable<CashGrow.Models.Budget>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Household Name
        </th>
        <th>
            Budget Owner
        </th>
        <th>
            Created
        </th>
        <th>
            Budget Name
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Household.HouseholdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.FullName)
        </td>
        <td>
            @Html.DisplayName(item.Created.ToString("MMM dd, yyyy"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
