@model IEnumerable<CashGrow.Models.BankAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Household
        </th>
        <th>
            Account Owner
        </th>
        <th>
            Account ID
        </th>
        <th>
            Account Name
        </th>
        <th>
            Created On
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.StartingBalance)
        </th>*@
        <th>
            Current Balance
        </th>
        <th>
            Warning Balance
        </th>
        <th>
            Account Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Household.HouseholdName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Owner.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AccountName)
    </td>
    <td>
        @Html.DisplayName(item.Created.ToString("MMM dd, yyyy"))
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.StartingBalance)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.CurrentBalance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WarningBalance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AccountType)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
